* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;

    --colorazul: #0056FB;
    --colorwhite: #fff;
    --colorblack: #000
}

.secao-principal {
    width: 100%;
    height: 100vh;

}
.caixa-texto{
    width: 444px;
}
.box-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.left,
.rigth {

    width: 50%;

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left {
    background-color: var(--colorwhite);
    height: 100%;
    position: relative;
}


.left  div h1 {
    font-size: 42px;
    font-weight: 700;
    user-select: none;
}

.left form {
    display: flex;
    flex-direction: column;
}

input[ type=text],
input[ type=email],
input[ type=password],
input[type=submit]
{

    width: 444px;
    height: 49px;
    border-radius: 4px;
    margin: 12px 0;
    cursor: pointer;
}
input[ type=checkbox] {
    height: 21px;
    width: 20px;
    border: 1px var(--colorblack);
    cursor: pointer;
}

input[ type=text]::placeholder,
input[ type=email]::placeholder,
input[ type=password]::placeholder{
    font-size: 16px;
    font-weight: 400;
    padding-left:20px;
    color: var(--colorblack);
}

input[type=submit]{
    background-color: var(--colorazul);
    color: var(--colorwhite);
    font-size: 16px;
    font-weight: 700;
    margin: 25px 0 ;
    cursor: pointer;
    border: none;
}

 form div{
    display: flex;
    align-items: center;
    gap: 8px;
}
label{
    font-size: 17px;
    font-weight: 400;
    user-select: none;
}


.image-t {
  position: absolute;
 bottom: 510px;
  left: 890px;
  height: 60px;
  opacity: 35%;
  pointer-events: none; /* evita que a imagem atrapalhe cliques */
}

.caixa-i{
    width: 444px;
}

.caixa-i p {
    
font-size: 16px;
font-weight: 700;
user-select: none;
}

.caixa-i p a{
    text-decoration: none;
    color: var(--colorblack);
    opacity: 90%;
}

.caixa-i p a:hover{
   color: var(--colorazul);
}


    .rigth {
    background-color: var(--colorazul);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image1{
    width: 525;
    height: 352;
}

 .caixa-left {
            display: flex;
            flex-direction:column;
            width: 525px;
 }

.caixa-left h2{
    
    font-size: 48px;
   
    font-weight: 700;
    color: var(--colorwhite);
    padding: 30px 0 0;
    
    word-spacing: 8px;
}

 .caixa-left p{
    width: 438px;
    height: 110px;
    font-size: 18px;
    font-weight: 400;
    color:var(--colorwhite);
    padding: 20px 0; 
   
    line-height: 28px;
   

 }

@media(max-width: 1400px){
.left div h1 {
    font-size: 30px;
}

input[ type=text],
input[ type=email],
input[ type=password],
input[type=submit]
{
width: 320px;
height: 40px;
}
.caixa-texto{
   width: 320px;
}

.caixa-i{
    width: 320px;
}

 .rigth img{
    height: 30%;
    width: 55%;
}

.image-t {
  display: none;
}


.rigth div {
    width: 54%;
}

.rigth div h2{ 
    font-size: 30px;
}

 .rigth div p{
    width: 100%;
    font-size: 15px;
 }
input[ type=text]::placeholder,
input[ type=email]::placeholder,
input[ type=password]::placeholder{
    font-size: 11px;
    padding-left: 3px;
}

input[type=checkbox]
{
    height: 15px;
}
label{
    font-size: 12px;
    
}
input[type=submit]{
    font-size: 14px;
    margin: 15px 0 ;
  }

}


@media(max-width:769px){
.left div h1 {
    font-size: 25px;
}

input[ type=text],
input[ type=email],
input[ type=password],
input[type=submit]
{
width: 220px;
height: 32px;
}

.caixa-texto{
   width: 220px;
}

.caixa-i{
    width: 220px;
}

.caixa-i p{
    font-size: 12px;
}

input[type=submit]{
    font-size: 11px;
   
  }

 .rigth img{
    height: 18%;
    width: 55%;
}

.image-t {
  display: none;
}


.rigth div {
    width: 54%;
}

.rigth div h2{ 
    font-size: 18px;
}

 .rigth div p{
    width: 100%;
    font-size: 12px;
    padding: 8px 0 0;
    line-height: 20px;
    text-align: justify;


 }

 label{
    font-size: 10px;
}

input[ type=text]::placeholder,
input[ type=email]::placeholder,
input[ type=password]::placeholder{
    font-size: 10px;
    padding-left: 3px;
}
}

@media(max-width:425px) {

.box-principal{
    flex-direction: column;
}

.left,.rigth{
    width: 100%;
    height: 100%;
    
}

.left div h1 {
    font-size: 32px;
}

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="submit"] {
    width: 90%;
    max-width: 360px;
    height: 40px;
    margin: 7px auto;
  }


.caixa-texto{
   width: 360px;
}

.caixa-i{
    width: 360px;
}

.caixa-i p{
    font-size: 11px;
    opacity: 90%;
}

input[type=submit]{
    font-size: 12px;
   
  }

 .image{
    height: 232px;
    width: 347px;
    margin-top: 40px;
    padding: 0;
}

.image-t {
  display: none;
}


.rigth div {
    width: 80%;
}

.rigth div h2{ 
    font-size: 32px;
    padding: 0;
}

 .rigth div p{
    width: 100%;
    font-size: 14px;
    padding: 8px 0 0;
    line-height: 20px;
    text-align: justify;


 }

 label{
    font-size: 10px;
    
}

input[ type=text]::placeholder,
input[ type=email]::placeholder,
input[ type=password]::placeholder{
    font-size: 10px;
    padding-left: 3px;
}
}